.cont {
    
    box-shadow: 0 0 15px 1px lightgrey;
    border: solid 5px gainsboro;
    padding: 15px;
    background-color: whitesmoke;
}
.c2{
	border:solid 3px gray;
}
form {
    border: solid 1px;
    padding: 26px;
    margin: 21px;
    margin-left: 100px;
    background-color: gainsboro;
    width: fit-content;
}

p.alert {
    color: rebeccapurple;
    font-size: x-large;
}
form > p {
    color: navy;
    font-size: larger;
}
#reg {
    font-size: xx-large;
    color: darkblue;
    border:solid 1px;
	border-radius: 20%;
	cursor: pointer;
	
}
#mostra{
	border:solid 1px;
	border-radius: 20%;
	cursor: pointer;
}
